Repository kahluaband/Homepage_client_ver2.0, pull requests merged in 2025-06, with the labels that each got.

#183 Feat: 예약자명 실시간 반영
  app/(kahlua)/reservation/page.tsx
Labels: ✨ Feature

#186 Refactor: 홈 컴포넌트 코드 리팩토링 및 토큰 재발급 API 연결 코드 수정
  api/auth/axios.ts
  app/layout.tsx
  app/page.tsx
  components/Footer.tsx
  components/Header.tsx
  components/data/RecommendData.ts
  components/header/DesktopNavBar.tsx
  components/header/Header.tsx
  components/header/HeaderUrls.ts
  components/header/KahluaDropdown.tsx
  components/header/MobileDrawer.tsx
  components/main/About.tsx
  components/main/FadeInSection.tsx
  components/main/Performance.tsx
  components/main/PerformanceCard.tsx
  components/main/PerformanceList.tsx
  components/main/Recruit.tsx
  components/main/Ticket.tsx
  components/main/TicketInfo.tsx
  components/main/TicketIntro.tsx
  hooks/useAuthCheck.ts
Labels: 🔨 Refactor, 📬 API, ✒️ Fix

#187 Refactor: 홈 티켓 컴포넌트 최신 공연 API 받아오도록 추가
  api/performance/performance.ts
  components/main/Ticket.tsx
  components/main/TicketIntro.tsx
  components/util/formatDate.ts
  types/performace.ts
Labels: 🔨 Refactor, 📬 API

#188 Refactor: 깔루아 페이지 리팩토링
  api/kahlua/post.ts
  api/kahlua/reservation.ts
  app/(kahlua)/reservation/page.tsx
  components/announcement/list/List.tsx
  components/announcement/posting/CommunityRule.tsx
  components/mypage/MyPostsList.tsx
  components/mypage/ReservationList.tsx
  components/reservation/CalendarUI.tsx
  components/reservation/ReservationForm.tsx
  components/reservation/TimeTable.tsx
  hooks/useDebounce.ts
  types/post.ts
  types/reservation.ts
Labels: 🔨 Refactor, 📬 API
